{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container mt-2 me-5">
  <div class="card" style="width: 50%;">
    <img src="{% static 'images/images.png' %}" class="float-right"  alt="Card image cap">
    <div class="card-body">
     <h5 class="card-title"><strong>Hi👋 Welcome To Quiz!</strong></h5>
      <p class="card-text">This Quiz is just part of learning. Do your best to pass this😊.</p>
      <p class="card-text">Good Luck!.</p>
      <a href="{% url 'login_attempt' %}" class="btn btn-outline-primary">Continue To Quiz</a>
   </div>
  </div>
</div>
</div>


{% endblock %}